  {% extends "layout.njk" %}


  {% block head %}
    
  {% endblock %}


  {% block content %}
   <div class="wrapper">
      <img src="rocketseat.jpg" alt="Rocketseat">
      <h1>Rocketseat</h1>
      <p>Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀</p>
      <ul>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>ReactJS</li>
        <li>ReactNative</li>
        <li>NodeJS</li>
        <li>Bootstrap</li>
        <li>ExpressJS</li>
      </ul>
      <div class="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Intagram</a>
        <a id="facebook" href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
      </div>
    </div>
  {% endblock %}
  