{% extends "layout.njk" %}

{% block head %}
<link rel="stylesheet" href="../style.css">

{% endblock %}


{% block content %}
    <div class="infos">
        <h1 id="title">{{ infos.name }}</h1>
        <div class="content">
        <img src="{{ infos.image_url }}" alt="Launchbase">
        <a id="aaa" href="{{ infos.link }}" target = "blank">Página oficial do curso {{ infos.name }}</a>
        </div>
    </div>
{% endblock %}
  