@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --color-green: #50fa7b;
  --color-purple: #4a48b4;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #181527;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  padding: 30px;
  border-bottom: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.274);
}

header div {
  text-align: center;
}

header div a {
  color: white;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  margin-left: 30px;
}

header div a:hover {
  color: var(--color-green);
  transition: color 200ms;
}

body {
  background: #282a36;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.wrapper {
  text-align: center;
  color: white;
  padding: 40px;
}

.wrapper img {
  border: 5px solid white;
  border-radius: 50%;
  height: 200px;
  margin-bottom: 8px;
}

.wrapper p {
  max-width: 500px;
  margin: 15px auto;
  
}

.wrapper ul {
  list-style: none;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 250px;
  margin: 0 auto 15px;
  padding: 10px;
}

li {
  text-align: auto;
}

.links a {
  border-bottom: 1px solid var(--color-purple);
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.links a:hover {
  color: var(--color-purple);
  transition: color 200ms;
}

/* === CONTENTS === */
#title {
  padding: 32px;
}

.courses {
  width: 75%;
  margin: 0px auto;
  max-width: 1300px;
  border-radius: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.course {
  border-radius: 10%;
  cursor: pointer;
}

.course-title {
  background-color: var(--color-purple);
  padding: 20px;
}

.course-image img {
  width: 100%;
  margin-bottom: 0;
}

.course-infos {
  margin-top: -4px;
  background-color: var(--color-purple);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  line-height: 28px;
  padding: 24px;
}

.course-price {
  background-color: var(--color-purple);
  filter: brightness(90%);
  border-radius: 20px;
  padding: 5px;
  margin-left: 24px;
}

/*===MODAL===*/
.modal-overlay {
  background-color: rgba(0, 0 ,0 ,0.7);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.close-modal {
  color: black;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.max-modal {
  color: black;
  position: absolute;
  top: 8px;
  right: 38px;
  cursor: pointer;
}

/*===MODAL.ACTIVE===*/
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  position: fixed;
  left: 0;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5.1%;
  left: 0;
  bottom: 0;
}
 /*===MODAL.ACTIVE.MAXIMIZE===*/
 .modal.maximize {
  margin: 0 auto;
  width: 100%;
  height: 100%;
 }


/* ===INFOS===*/
.infos {
  display: inline;
  text-align: center;
  margin: 0 auto;
}

.infos img {
  position: relative;
  height: 100%;
  max-width:700px;
  max-height:550px;
  width: auto;
  height: auto;
  margin: 0 auto;

}

.content {
  display: grid;
  grid-template-columns: 1fr;
}

.infos a {
  text-decoration: none;
  padding: 15px 0 5px 0;
  color: white;
  border-bottom: 1px solid var(--color-purple);
  max-width: 250px;
  margin: 0 auto;
}

.infos a:hover {
  color: var(--color-purple);
  transition: color 200ms;
  
}

